@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Aref+Ruqaa:wght@400;700&family=Katibeh&family=Lateef:wght@200;300;400;500;600;700;800&family=Manjari:wght@100;400;700&family=Mirza:wght@400;600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&family=Noto+Naskh+Arabic:wght@400;500;600;700&family=Rakkas&display=swap');

html {
  height: 100%;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --ion-font-family: 'Mulish', sans-serif;
}

[lang='ar'] {
  font-family: 'Me Quran', serif;
  text-align: justify;
  direction: rtl;
}

// [lang='ar']:after {
//   content: '';
//   display: inline-block;
//   width: 100%;
// }

ion-refresher {
  z-index: 50;
  position: relative;
}

body {
  background-color: white;
}

body.dark {
  background-color: black;
}

.alert-wrapper {
  background: #e5e5e5;
}

@font-face {
  font-family: 'Uthmanic Script';
  src: url('/assets/fonts/Uthmanic Script.otf') format('truetype');
}

@font-face {
  font-family: 'Me Quran';
  src: url('/assets/fonts/Me Quran.ttf') format('truetype');
}

@font-face {
  font-family: 'Al Qalam';
  src: url('/assets/fonts/Al Qalam.ttf') format('truetype');
}

@font-face {
  font-family: 'Saleem';
  src: url('/assets/fonts/Saleem.ttf') format('truetype');
}

@font-face {
  font-family: 'Al Qalam Quran';
  src: url('/assets/fonts/Al Qalam Quran.ttf') format('truetype');
}

@font-face {
  font-family: 'Maddina';
  src: url('/assets/fonts/Maddina.ttf') format('truetype');
}

@font-face {
  font-family: 'Noorehidayat';
  src: url('/assets/fonts/Noorehidayat.ttf') format('truetype');
}

@font-face {
  font-family: 'Noorehira';
  src: url('/assets/fonts/Noorehira.ttf') format('truetype');
}

@font-face {
  font-family: 'Quran Standard';
  src: url('/assets/fonts/Quran Standard.ttf') format('truetype');
}

@font-face {
  font-family: 'Arabic Quran';
  src: url('/assets/fonts/Arabic Quran.ttf') format('truetype');
}

@font-face {
  font-family: 'Scheherazade';
  src: url('/assets/fonts/Scheherazade.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

ion-router-outlet > .ion-page {
  animation: fadeIn 0.3s 1 forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate3d(0, 5vh, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* ion-router-outlet > .ion-page {
  animation: fadeIn 0.3s 1 forwards ease-out;
}

ion-router-outlet > .ion-page-hidden {
  animation: fadeOut 0.3s 1 forwards ease-out;
  display: block !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
    transform: translate3d(22vw, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */
