@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Lateef:wght@200;300;400;500;600;700;800&family=Manjari:wght@100;400;700&display=swap');

* {
  font-family: 'Manjari', sans-serif;
}

[lang='ar'] * {
  font-family: 'Me Quran', serif;
  text-align: justify;
}

[lang='ar']:after {
  content: '';
  display: inline-block;
  width: 100%;
}

@font-face {
  font-family: 'Me Quran';
  src: url('../../public/assets/fonts/me_quran.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
ion-router-outlet > .ion-page {
  animation: fadeIn 0.5s 1 forwards cubic-bezier(0.215, 0.61, 0.355, 1);
  box-shadow: -4px 4px 12px rgba(0, 0, 0, 0.4);
}

ion-router-outlet > .ion-page-hidden {
  animation: fadeOut 0.5s 1 forwards cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes fadeIn {
  0% {
    transform: translate3d(100vw, 0, 0);
    visibility: hidden;
  }

  100% {
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    opacity: 0;
    transform: translate3d(0, 0, 0);
    visibility: hidden;
  }
} */
